@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prueba P1 MVC</h1>
    <p>Como usar Bootstrap <a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/">construyendo aplicaciones web con  Boottrap</a>.</p>
    <p>Como usar ASP.NET CORE <a href="https://learn.microsoft.com/aspnet/core">construyendo aplicaciones web con ASP.NETCORE</a>.</p>

    <h1>Estudiante: Mathew Baquero R.</h1>

</div>
